statemachine/expense_workflow.asl.json
{
  "Comment": "ExpenseApprovalV1 -- Validates, checks policy, detects fraud, renders decision. Includes retry with exponential backoff and catch-block compensation.",
  "StartAt": "ValidateExpense",
  "States": {

    "ValidateExpense": {
      "Type": "Task",
      "Resource": "${ValidateExpenseFunctionArn}",
      "Comment": "Validate expense claim structure, types, and field values.",
      "ResultPath": "$",
      "Next": "IsValidExpense",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleProcessingFailure"
        }
      ]
    },

    "IsValidExpense": {
      "Type": "Choice",
      "Comment": "Short-circuit invalid claims directly to decision -- no point running further checks.",
      "Choices": [
        {
          "Variable": "$.validation.passed",
          "BooleanEquals": false,
          "Next": "RejectInvalidExpense"
        }
      ],
      "Default": "RunParallelChecks"
    },

    "RunParallelChecks": {
      "Type": "Parallel",
      "Comment": "Run PolicyCheck and FraudHeuristic concurrently to reduce latency.",
      "Branches": [
        {
          "StartAt": "PolicyCheck",
          "States": {
            "PolicyCheck": {
              "Type": "Task",
              "Resource": "${PolicyCheckFunctionArn}",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        },
        {
          "StartAt": "FraudHeuristic",
          "States": {
            "FraudHeuristic": {
              "Type": "Task",
              "Resource": "${FraudHeuristicFunctionArn}",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        }
      ],
      "ResultPath": "$",
      "Next": "MakeDecision",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleProcessingFailure"
        }
      ]
    },

    "RejectInvalidExpense": {
      "Type": "Task",
      "Resource": "${DecisionFunctionArn}",
      "Comment": "Render REJECTED decision for invalid expenses.",
      "ResultPath": "$",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleProcessingFailure"
        }
      ]
    },

    "MakeDecision": {
      "Type": "Task",
      "Resource": "${DecisionFunctionArn}",
      "Comment": "Aggregate all results and render final approval decision.",
      "ResultPath": "$",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleProcessingFailure"
        }
      ]
    },

    "HandleProcessingFailure": {
      "Type": "Task",
      "Resource": "${DecisionFunctionArn}",
      "Comment": "Compensation handler: persists FAILED_PROCESSING when any step fails after retries. Uses the Decision Lambda with the error context to store an auditable failure record.",
      "ResultPath": "$",
      "End": true
    }
  }
}
